@use './partials/variables' as *;
@use './partials/header';
@use './partials/main';
@use './partials/footer';


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	max-width: 1380px;
	margin: auto;
	width: 80%;
}

// Commons -------------------------------------> 

body {
	font-family: sans-serif;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: $light;
}