@use './variables' as *;

// Footer style ------------------------------------->

footer {
    background-color: $bg_dark;
    margin-top: 5rem;
    padding: 2rem 0;
    color: $light;

    .container {
        display: flex;
        justify-content: space-between;

        .site_info h4 {
            font-size: .8rem;
        }

        .info_links,
        .social_links {
            margin-top: .5rem;
        }

        .site_info a,
        .socials a {
            font-size: .8rem;
            margin-right: .5rem;
        }

        .socials {
            display: flex;
            flex-direction: column;

            .fa-brands {
                font-size: 1.3rem;
            }
        }
    }
}