@use './variables' as *;

.modal {
    background-color: #151515da;
    position: fixed;
    inset: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;

    .card {
        width: 500px;
        background-color: $light;
        border-radius: 1rem;
        padding: 1rem;

        .card_header {
            text-align: end;
            padding-bottom: .6rem;

            i {
                font-size: 2rem;
                color: $primary_color;
                cursor: pointer;
                transition: color .25s;
            }

            i:hover {
                color: orangered;
            }
        }

        .card_main {
            display: flex;
            gap: 1rem;

            .card_left {
                width: 70%;
                overflow: hidden;
                border-radius: .5rem;
                position: relative;
                display: flex;
                align-items: center;

                .card_image {
                    img {
                        width: 100%;
                        display: block;
                    }

                    .heart {
                        position: absolute;
                        border-radius: 0 20px 20px 0;
                        display: flex;
                        align-items: center;
                        padding-left: .5rem;
                        width: 38px;
                        height: 40px;
                        background-color: $light;
                        top: 1rem;
                        left: 0;
                        transition: color .25s ease;

                        &:hover {
                            color: $danger;
                            cursor: pointer;
                        }
                    }

                    .promo_badges {
                        display: flex;
                        gap: .2rem;
                        font-size: .8rem;
                        color: $light;
                        font-weight: 800;
                        position: absolute;
                        bottom: 3rem;
                        left: 0;

                        .badge {
                            padding: .45rem .75rem;
                        }

                        .percentage {
                            background-color: $danger;
                        }

                        .sustainability {
                            background-color: $success;
                        }
                    }
                }

                .buttons {
                    position: absolute;
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    padding: 0 0.5rem;

                    i {
                        font-size: 1.5rem;
                        cursor: pointer;
                        opacity: 0.2;
                        transition: opacity .25s;

                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }

            .card_right {
                width: 30%;
            }
        }
    }
}