@use './variables' as *;

.modal {
    background-color: #151515da;
    position: fixed;
    inset: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;

    .card {
        width: 500px;
        height: 700px;
        background-color: $light;
        border-radius: 1rem;
        padding: 1rem;

        .card_header {
            text-align: end;
            padding-bottom: .6rem;

            i {
                font-size: 2rem;
                color: $primary_color;
                cursor: pointer;
                transition: color .25s;
            }

            i:hover {
                color: orangered;
            }
        }

        .card_main {
            display: flex;
            gap: 1rem;

            .card_left {
                width: 70%;
                background-color: aqua;
            }

            .card_right {
                width: 30%;
                background-color: blue;
            }
        }
    }
}