/* #region Utilities */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1380px;
  margin: auto;
  width: 80%;
}

/* #endregion Utilities */

/* #region Commons */

body {
  font-family: sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

/* #endregion Commons */


/* #endregion Header */

/* #region Cards  */


/* #endregion Cards  */

/* #region Footer  */





/* #endregion Footer  */